@CHARSET "UTF-8";

/* Below styling is for homepage */
.header-img {
  width: 100%;
  height: 100px;
  background: white;
}

h1 {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #43658B;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4E89AE;
}

.logout-button {
  /* This button has the same styling as "ul", "li a" and "li a:hove" to match the nav bar */
  background-color: #43658B;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.logout-button:hover {
  background-color: #111;
}

/* Below styling is for login page */
.login-background-text
{
  text-align: center;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form-box {
  width: 250px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
  background-color: white;
  transform: translate(-50%, -10%);
  position: relative;
  top: 50%;
  left: 50%;
  resize: both;
  overflow: auto; 
  font-family: Arial, Helvetica, sans-serif;
}

.child{
  font-size: 20px;
  text-align: center;
}

div > p1 {
  text-align: center;
  font-size: 15px;
}

/* styling for the buttons on the login and create an account page*/
.button-style
{
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  background-color: #43658B;
}
.button-style:hover
{
  background-color: black;
  color: white;
}

/* Below styling is for create account page */
.create-account-text{
  text-align: center;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

.create-account-form-box{
  width: 320px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
  background-color: white;
  transform: translate(-50%, -10%);
  position: relative;
  top: 50%;
  left: 50%;
  resize: both;
  overflow: auto; 
  font-family: Arial, Helvetica, sans-serif;
}

/* Below styling is for the search box on the homepage */
form.search-field input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;

}

/* Style the submit button */
form.search-field input[type=submit] {
  float: left;
  width: 25%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-field button:hover {
  background: #0b7dda;
}

/* Below styling is for the grid layout on the homepage */
.grid-container{
  display: grid;
  grid-template-rows: 200px 100px 800px;
}

/*Oct 6: added styling to center the search box using the .inner-search-row & .search classes */
.inner-search-row{
    display: grid;
	grid-template-columns: 10% 80% 10%;
}

.search{
	text-align: center;
}

.inner-grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 300px 200px 200px;
}
.inner-grid-container > div {
  text-align: center;
  font-size: 20px;
}

/* Below styling is for bookinfo page */
.book-grid {
  display: grid;
  grid-template-areas: 
  'pic info info info info info'
  'pic info info info info info';
  grid-gap: 5px;
}

.button {
  background-color: white; 
  border: 2px solid #555555;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #555555;
  color: white;
}

/* Below styling is for contact page */
.contact-grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

form.contact-form input[type=text], textarea {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 50%;
}

form.contact-form button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #43658B;
}

.contact-submit:hover{
  background-color: black;
  color: white;
}

/*Below styling for profile page*/
.profile-info{
  display: grid;
  grid-template-areas: 
  'avatar avatar userInfo userInfo userInfo'
  'avatar avatar userInfo userInfo userInfo'
}

.user-avatar {
  display: block;
  text-align: center;
}

.user-info h3, p3 {
  font-family: Arial, Helvetica, sans-serif;
}

.Saved-books-header {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

